@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

input, button {
  font-family: inherit;
}

:root {
  --primary-color: #4c243d;
  --primary-color-light: #c17ba6;
}

body {
  font-family: "Zilla Slab", serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

h1 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0 3rem;
}

span.select-label {
  display: block;
  text-align: center;
  margin-bottom: 0.2rem;
}

article {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 10rem;
  padding: 1rem;
  box-shadow: rgba(0 0 0 / 35%) 0 0.3rem 1rem;

  h2 {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.3rem;
  }

  img {
    display: block;
    max-width: 80%;
    margin: 0 auto 1rem;
  }

  button {
    background-color: var(--primary-color-light);
    color: white;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.5em;
    width: 100%;
    box-shadow: rgba(0 0 0 / 35%) 0 0.3rem 1rem;

    &:hover {
      background-color: var(--primary-color);
    }
  }
}

button {
  position: relative;

  &:not(:active)::after {
    transition: inset 1s steps(1, end);
  }

  &:active::after {
    inset: -0.2rem;
  }

  &::after {
    content: "";
    position: absolute;
    background: conic-gradient(from var(--bg-angle), violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red,
      violet);
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    animation: spin 2s infinite linear;
  }
}

.select-custom input {
  background-color: var(--primary-color-light);
  color: white;

  &::placeholder {
    color: #ddd;
  }
}

.select-custom::after {
  background-color: var(--primary-color);
}

.select-options li {
  background-color: var(--primary-color-light);
  color: white;

  &.selected {
    background-color: var(--primary-color);
  }
}